body{
  background-color:white;
}
.style{
  width:200px;
  height:200px;
  background-color: #66F6F6;
  border:solid black 10px;
  font-size: 15px;

}
.size{
  width:200px;
  height:200px;
  background-color:red;
  margin-left: 220px;
   margin-top: 0px;
  border:solid black 20px;


}
.samp{
  width:200px;
  height:200px;
  background-color:yellow;
  margin-left: 461px;
    margin-top: 0px;
  border:solid black 10px;
}
